---
# Only the main Sass file needs front matter
---

@charset "utf-8";

// Load selected skin
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";

// Load theme
@import "minimal-mistakes";

html {
  font-size: 14px;   // default is 16px
}
