<div class='tableauPlaceholder' id='{{ include.viz_id }}' style='position: relative'>
  <noscript>
    <a href='#'>
      <img alt='Tableau Visualization' src='https://public.tableau.com/static/images/{{ include.workbook | split: "-" | first | slice: 0, 2 }}/{{ include.workbook }}/{{ include.sheet | replace: " ", "%20" }}/1_rss.png' style='border: none' />
    </a>
  </noscript>
  <object class='tableauViz' style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
    <param name='embed_code_version' value='3' />
    <param name='site_root' value='' />
    <param name='name' value='{{ include.workbook }}/{{ include.sheet }}' />
    <param name='tabs' value='{% if include.tabs %}yes{% else %}no{% endif %}' />
    <param name='toolbar' value='{% if include.toolbar %}yes{% else %}no{% endif %}' />
    <param name='static_image' value='https://public.tableau.com/static/images/{{ include.workbook | split: "-" | first | slice: 0, 2 }}/{{ include.workbook }}/{{ include.sheet | replace: " ", "%20" }}/1.png' />
    <param name='animate_transition' value='yes' />
    <param name='display_static_image' value='yes' />
    <param name='display_spinner' value='yes' />
    <param name='display_overlay' value='yes' />
    <param name='display_count' value='yes' />
    <param name='language' value='en-GB' />
    <param name='filter' value='publish=yes' />
  </object>
</div>
<script type='text/javascript'>
  var divElement = document.getElementById('{{ include.viz_id }}');
  var vizElement = divElement.getElementsByTagName('object')[0];
  if ( divElement.offsetWidth > 800 ) {
    vizElement.style.width = '{{ include.width }}px';
    vizElement.style.height = '{{ include.height }}px';
  } else if ( divElement.offsetWidth > 500 ) {
    vizElement.style.width = '{{ include.width }}px';
    vizElement.style.height = '{{ include.height }}px';
  } else {
    vizElement.style.width = '100%';
    vizElement.style.height = '1000px';
  }
  var scriptElement = document.createElement('script');
  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
  vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
